<!DOCTYPE html>
<html>
<head>
    <title>MHCID - 280</title>
    <link rel = "stylesheet" href = "../../static/mhcid.css">
</head>
<body>
    <div class = heading>
        <h1>IN4MATX 280 - Overview of HCI and Design</h1>
        <p>Click on a sketch to read my reflection (work in progress)!</p>
<!--
    Retake pictures for more clarity
    Center table
    Popup when image is clicked
    Label sketches?

    https://www.w3schools.com/howto/howto_css_modals.asp    
-->
    </div>

    <div>
        <table>
            <tr>
                <td><img src = "../../image/sketches/S1.1.jpg"></td>
                <td><img src = "../../image/sketches/S1.2.jpg"></td>
                <td><img src = "../../image/sketches/S1.3.jpg"></td>
                <td><img src = "../../image/sketches/S1.4.jpg"></td>
                <td><img src = "../../image/sketches/S2.jpeg"></td>
            </tr>
            <tr>
                <td><img src = "../../image/sketches/S3.1.jpg"></td>
                <td><img src = "../../image/sketches/S3.2.jpg"></td>
                <td><img src = "../../image/sketches/S4.1.jpg"></td>
                <td><img src = "../../image/sketches/S4.2.jpg"></td>
                <td><img src = "../../image/sketches/S4.3.jpg"></td>
            </tr>
            <tr>
                <td><img src = "../../image/sketches/Storyboard.jpeg"></td>
                <td><img src = "../../image/sketches/Creative8.jpeg"></td>
            </tr>
        </table>
    </div>
</body>