html{
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainImgContainer {
    position: relative;
    border: 0px;
    text-align: center;
}

.mainImg {
    width: 100%;
    height: 800px;
    border: 0px;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: lighter;
    font-size: xx-large;
    color: white;
}

.title h1 {
    letter-spacing: 3px;
}

.title p {
    letter-spacing: 5px;
}

.learn {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: lighter;
    letter-spacing: 3px;
}

/* Scroll Down Arrow */

.arrow{
    position: absolute;
    bottom: 10%;
    left: 50%;
}

.arrow span{
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    margin: -10px;
}

.arrow span:hover {
    animation: animate 1s;
}

@keyframes animate {
    0%, 100% {
        transform: rotate(45deg) translate(0px,0px);
    }

    50% {
        transform: rotate(45deg) translate(5px,5px);
    }
}

/* End of scroll */

.about, .documents {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    color: black;
}

.heading1, .heading3 {
    color: #674b94;
    letter-spacing: 1px;
    font-size: x-large;
    text-align: center;
}

.about img {
    border-radius: 10%;
    border: 3px solid #674b94;
}

.about table, tr, td{
    border-collapse: collapse;
    /* border: 1px solid black; */
}

#abtImg {
    width: 20%;
}

#sec {
    color: #674b94;
    letter-spacing: 1px;
}

.projects {
    text-align: center;
    margin: auto;
    background-color: #674b94;
    color: white;
    font-weight: lighter;
}

.heading2 {
    color: white;
    letter-spacing: 1px;
    font-size: x-large;
    text-align: center;
    padding: 40px;
}

.projects table, tr, td {
    border-collapse: collapse;
    margin: auto;
    /* border: 1px solid black; */
    width: 33.3%;
    padding: 20px;
}

.prjImg {
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.documents img {
    border-radius: 10%;
    border: 3px solid #674b94;
    width: 200px;
    height: 250px;
}

.documents table, tr, td {
    border-collapse: collapse;
    margin: auto;
    /* border: 1px solid black; */
    width: 50%;
    padding: 20px;
}

#cap {
    color: #674b94;
    letter-spacing: 1px;
}

.links {
    background-color: #674b94;
}

.links table {
    text-align: center;
    margin: auto;
    color: white;
    font-weight: lighter;
}

.links img {
    width: 30px;
    height: 30px;
}