<!DOCTYPE html>
<html>
<head>
    <title>Projects - Cow Detection</title>
    <link rel = "stylesheet" href = "../static/project.css">
</head>

<body>
    <div class = "mainImgContainer">
        <img src = "image/cow_mainImg.jpg" class = "mainImg">
        <div class = "title">
            <h1>Cow Detection</h1>
        </div>

        <div class = "learn">
            <p>More Info</p>
        </div>

        <div class = "arrow">
            <a href = "#info"><span></span></a>
        </div>
    </div>

    <div class = "info" id = "info">
        <p>
            Diamond J. Dairy is a modern dairy farm in Merced that utilizes an automated, state-of-the-art soaker 
            system to keep their cows cool and maximize dairy production. To achieve this, they periodically spray 
            their cows with water whenever the temperature reaches a certain range. However, with the way their 
            soaker control system is set up, sometimes the water will spray the pen even when there are no cows 
            present. This leads to a significant water waste.

            <br><br>

            The soaker control system determines when water should be sprayed. It has a built in temperature tracker 
            that measures the thermal heat index. When the temperature reaches a certain point, the water in the pipe 
            runs through the first pen for a minute, shuts off, then moves on to the next pen. Once the water runs 
            through all of the pens, the system will shut off for 10 minutes and cool the cows through evaporative 
            cooling, which is the conversion of water into vapor using the thermal energy in the air, resulting in a 
            lower air temperature. This process repeats again with a 2-minute shut-off period for as long as the 
            temperature stays within that range.

            <br><br>

            Each barn has two pens and each pen has a long pipe with multiple nozzles for the water to spray. Suppose 
            there are no cows in a pen when the system turns on. The barn is divided into 15 sections, each separated 
            by a supporting beam. Each section has roughly 4 nozzles, so there are a total of 60 nozzles per pen. Each 
            gallon sprays about 1.2 - 2 gallons of water per minute. That means that there is at least 72 gallons of 
            water wasted in one pen in the first cycle alone.

            <br><br>

            My team and I devised a solution to save water without compromising the comfort of the farm's cows. We 
            installed a camera at the top of a barn so that we could view both pens at the same time. This video feed 
            is then saved in a Raspberry Pi, where it is stored in an SD Card. The recorded video feed will then be 
            fed through our program, where we use OpenCV and YOLO weights to detect cows.

            <br><br>

            In the future, we would like to have our program work with the soaker control system to move to the next pen 
            where there are no cows available.
        </p>
    </div>

    <div class = "video">
        <h1>Project Demo</h1>
        <iframe width="560" height="315" style = "padding: 5px; border: 5px solid #674b94;" src="https://www.youtube.com/embed/VbfIQHSTxx8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class = "links">
        <a href = "../index.html#projects"><button>Go Back</button></a>
        <table>
            <tr>
                <td><a href = "https://github.com/aditikisara/Collaborated-Projects"><img src = "image/github.png"></a></td>
                <td><a href = "https://www.linkedin.com/in/aditi-kisara-27bb1a1a9/"><img src = "image/linkedin.png"></a></td>
            </tr>
        </table>
    </div>
</body>
</html>