<!DOCTYPE html>
<html>
<head>
    <title>CV</title>
    <link rel = "stylesheet" href = "../static/project.css">
</head>

<body>
    <div class = "cv">
        <h1>CV</h1>
        <a href = "../index.html#documents"><button>Go Back</button></a>
        <br><br>
        <!-- <iframe src = "../documents/Aditi_Kisara_CV.pdf"></iframe> -->
        <p>tbd</p>
    </div>

    <div class = "links">
        <table>
            <tr>
                <td><a href = "https://github.com/aditikisara"><img src = "../image/github.png"></a></td>
                <td><a href = "https://www.linkedin.com/in/aditi-kisara-27bb1a1a9/"><img src = "../image/linkedin.png"></a></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Click to view my profile on GitHub, or visit my LinkedIn profile!</td>
            </tr>
        </table>
    </div>
    
</body>
</html>