<!DOCTYPE html>
<html>
<head>
    <title>Projects - Hangman</title>
    <link rel = "stylesheet" href = "../static/project.css">
</head>

<body>
    <div class = "mainImgContainer">
        <img src = "/Users/aditikisara/Documents/GitHub/Portfolio/image/hangman_mainImg.jpg" class = "mainImg">
        <div class = "title">
            <h1>Hangman</h1>
        </div>

        <div class = "learn">
            <p>More Info</p>
        </div>

        <div class = "arrow">
            <a href = "#info"><span></span></a>
        </div>
    </div>

    <div class = "info", id = "info">
        <p>
            This is a simple Hangman game I created using Tkinter, a graphical user interface library in Python. The 
            goal of the game is for the user to guess what word the program is thinking of. As the user guesses 
            letters, the blanks in the word will appear if the guess is correct. If it is wrong, the user will “lose 
            a life”. They have a total of 6 lives to guess the word before they lose the whole game.

            <br><br>

            I originally coded this in Python, but I also wanted to understand GUIs more. I learned about Tkinter 
            through some research and was able to grasp onto it fairly easily. I then later converted my python code 
            into something that was more user friendly and visually pleasing.

        </p>
    </div>

    <div class = "video">
        <h1>Project Demo</h1>
        <iframe width="560" height="315" style = "padding: 5px; border: 5px solid #674b94;" src="https://www.youtube.com/embed/oDqaQlYC0fs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class = "links">
        <a href = "../index.html#projects"><button>Go Back</button></a>
        <table>
            <tr>
                <td><a href = "https://github.com/aditikisara/Python-Hangman-Project"><img src = "/Users/aditikisara/Documents/GitHub/Portfolio/image/github.png"></a></td>
                <td><a href = "https://www.linkedin.com/in/aditi-kisara-27bb1a1a9/"><img src = "/Users/aditikisara/Documents/GitHub/Portfolio/image/linkedin.png"></a></td>
            </tr>
        </table>
    </div>
</body>
</html>