<!DOCTYPE html>
<html>
<head>
    <title>MHCID</title>
    <link rel = "stylesheet" href = "../static/project.css">
</head>
<body>
    <div class = "mainImgContainer">
        <img src = "../image/cow_mainImg.jpg" class = "mainImg">
        <div class = "title">
            <h1>MHCID - C7</h1>
        </div>

        <div class = "learn">
            <p>More Info</p>
        </div>

        <div class = "arrow">
            <a href = "#info"><span></span></a>
        </div>
    </div>

    <div class = "info" id = "info">
        <p>
            This page will include the work I've done in my masters program. Will be updated throughout the program!
        </p>
    </div>

    <div class = "links">
        <a href = "../index.html#projects"><button>Go Back</button></a>
    </div>

</body>
</html>