<!DOCTYPE html>
<html>
<head>
    <title>MHCID</title>
    <link rel = "stylesheet" href = "../static/mhcid.css">
</head>
<body>
    <div class = "mainImgContainer">
        <img src = "../image/hci.png" class = "mainImg">
        <div class = "title">
            <h1>MHCID - C7</h1>
        </div>

        <div class = "learn">
            <p>More Info</p>
        </div>

        <div class = "arrow">
            <a href = "#info"><span></span></a>
        </div>
    </div>

    <div class = "info" id = "info">
        <p>
            This page will include the work I've done in my masters program. Will be updated throughout the program!
            
            <br><br>

            Please select a class:
        </p>
    </div>

    <div class = "classOpt">
        <table>
            <tr>
                <td><a href = "classes/280.html"><button>
                    <p>IN4MATX 280</p>
                    <p>Overview of HCI and Design</p>
                </a></button></td>
                <td><a href = "classes/281.html"><button>
                    <p>IN4MATX 281</p>
                    <p>User Needs Analysis</p>
                </a></button></td>
                <td><a href = "classes/282.html"><button>
                    <p>IN4MATX 282</p>
                    <p>Design and Prototyping</p>
                </a></button></td>
                <td><a href = "classes/283.html"><button>
                    <p>IN4MATX 283</p>
                    <p>User Experience and Evaluation</p>
                </a></button></td>
                <td><a href = "classes/284.html"><button>
                    <p>IN4MATX 284</p>
                    <p>Advanced Design and Prototyping</p>
                </a></button></td>
            </tr>
            <tr>
                <td><a href = "classes/285.html"><button>
                    <p>IN4MATX 285</p>
                    <p>Interactive Technology Studio</p>
                </a></button></td>
                <td><a href = "classes/286.html"><button>
                    <p>IN4MATX 286</p>
                    <p>Innovations in HCI and Design</p>
                </a></button></td>
                <td><a href = "classes/287.html"><button>
                    <p>IN4MATX 287</p>
                    <p>Capstone Project in HCI and Design</p>
                </a></button></td>
                <td><a href = "classes/288.html"><button>
                    <p>IN4MATX 288</p>
                    <p>Capstone Project and Portfolio</p>
                </a></button></td>
                <td><a href = "classes/289.html"><button>
                    <p>IN4MATX 289</p>
                    <p>Applying HCI and Design in Industry</p>
                </a></button></td>
            </tr>
        </table>
    </div>

    <div class = "links">
        <a href = "../index.html#projects"><button>Go Back</button></a>
        <table>
            <tr>
                <td><a href = "https://github.com/aditikisara/Collaborated-Projects"><img src = "../image/github.png"></a></td>
                <td><a href = "https://www.linkedin.com/in/aditi-kisara-27bb1a1a9/"><img src = "../image/linkedin.png"></a></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Click to view this repository on my GitHub, or visit my LinkedIn profile!</td>
            </tr>
        </table>
    </div>

</body>
</html>