<!DOCTYPE html>
<html>
<head>
    <title>Projects - Sudoku</title>
    <link rel = "stylesheet" href = "../static/project.css">
</head>

<body>
    <div class = "mainImgContainer">
        <img src = "/Users/aditikisara/Documents/GitHub/Portfolio/image/sudoku_mainImg.jpg" class = "mainImg">
        <div class = "title">
            <h1>Sudoku</h1>
        </div>

        <div class = "learn">
            <p>More Info</p>
        </div>

        <div class = "arrow">
            <a href = "#info"><span></span></a>
        </div>
    </div>

    <div class = "info", id = "info">
        <p>
            I created a program in which the user can solve the sudoku puzzle my program presents. Users have the ability 
            to view the entire board or just view one section. Based on the prompts given, they can navigate between these 
            two views and solve for certain cells in the puzzle. Once all of the cells are filled and correct, the program 
            will congratulate the user and exit. I used C++ to code this game.
        </p>
    </div>

    <div class = "video">
        <h1>Project Demo</h1>
        <iframe width="560" height="315" style = "padding: 5px; border: 5px solid #674b94;" src="https://www.youtube.com/embed/oDqaQlYC0fs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class = "links">
        <a href = "main.html#projects"><button>Go Back</button></a>
        <table>
            <tr>
                <td><a href = "https://github.com/aditikisara/CPP-Sudoku-Project"><img src = "/Users/aditikisara/Documents/GitHub/Portfolio/image/github.png"></a></td>
                <td><a href = "https://www.linkedin.com/in/aditi-kisara-27bb1a1a9/"><img src = "/Users/aditikisara/Documents/GitHub/Portfolio/image/linkedin.png"></a></td>
            </tr>
        </table>
    </div>
</body>
</html>