<!DOCTYPE html>
<html>
<head>
    <title>Projects - Task Manager</title>
    <link rel = "stylesheet" href = "../static/project.css">
</head>

<body>
    <div class = "mainImgContainer">
        <img src = "../image/task_mainImg.jpg" class = "mainImg">
        <div class = "title">
            <h1>Task Manager</h1>
        </div>

        <div class = "learn">
            <p>More Info</p>
        </div>

        <div class = "arrow">
            <a href = "#info"><span></span></a>
        </div>
    </div>

    <div class = "info", id = "info">
        <p>
            My team and I created a collaborative task manager (modeled after a Kanban Board). To first create a board, 
            the user must write down their username, the name of their board, and set a password.
            
            This unique set of information is used by other users to join the same board. Within each board, 
            users can create tasks and mark them as "In-Progress" or "Completed". They also have the option to write 
            notes on the bottom or clear all of the tasks.

            <br><br>

            In future iterations, we would like to have users input the usernames of the people that are allowed in a 
            board to make the app more secure. Any time a user logs in, the information entered will be checked with our 
            existing database. If the user is listed with the board they specified in the database, then they will be 
            allowed to enter the board. If not, then an error message would pop up.

            <br><br>

            In the project demo below, I use two separate accounts to log in. The first one shows what a new user would 
            see when they first created a board. The second account is an existing account in our database to show that the 
            tasks created earlier would appear when the user logs back in.
        </p>
    </div>

    <div class = "video">
        <h1>Project Demo</h1>
        <iframe src="https://www.youtube.com/embed/ZRP6-l7v8cg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class = "links">
        <a href = "../index.html#projects"><button>Go Back</button></a>
        <table>
            <tr>
                <td><a href = "https://github.com/aditikisara/Collaborated-Projects"><img src = "../image/github.png"></a></td>
                <td><a href = "https://www.linkedin.com/in/aditi-kisara-27bb1a1a9/"><img src = "../image/linkedin.png"></a></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Click to view this repository on my GitHub, or visit my LinkedIn profile!</td>
            </tr>
        </table>
    </div>
</body>
</html>