<!DOCTYPE html>
<html>
<head>
    <title>Projects - Task Manager</title>
    <link rel = "stylesheet" href = "../static/project.css">
</head>

<body>
    <div class = "mainImgContainer">
        <img src = "../image/task_mainImg.jpg" class = "mainImg">
        <div class = "title">
            <h1>Task Manager</h1>
        </div>

        <div class = "learn">
            <p>More Info</p>
        </div>

        <div class = "arrow">
            <a href = "#info"><span></span></a>
        </div>
    </div>

    <div class = "info", id = "info">
        <p>
            My team and I created a collaborative task manager. Every board created has a project name and a session 
            password. This unique set of information is used by other users to join the same board. Within each board, 
            users can create tasks and mark them as "In-Progress" or "Completed". They also have the option to write 
            notes on the bottom or clear all of the tasks.

            <br><br>

            In future iterations, we would like to have users input the usernames of the people that are allowed in a 
            board to make the app more secure. Any time a user logs in, the information entered will be checked with our 
            existing database. If the user is under the session they specified, then they will be allowed to enter the 
            board. If not, then an error message would pop up.
        </p>
    </div>

    <div class = "video">
        <h1>Project Demo</h1>
        <iframe src="https://www.youtube.com/embed/ZRP6-l7v8cg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class = "links">
        <a href = "../index.html#projects"><button>Go Back</button></a>
        <table>
            <tr>
                <td><a href = "https://github.com/aditikisara/Collaborated-Projects"><img src = "../image/github.png"></a></td>
                <td><a href = "https://www.linkedin.com/in/aditi-kisara-27bb1a1a9/"><img src = "../image/linkedin.png"></a></td>
            </tr>
        </table>
    </div>
</body>
</html>