<!DOCTYPE html>
<html>
<head>
    <title>Projects - Sudoku</title>
    <link rel = "stylesheet" href = "../static/project.css">
</head>

<body>
    <div class = "mainImgContainer">
        <img src = "../image/ttt_mainImg.jpg" class = "mainImg">
        <div class = "title">
            <h1>Tic-Tac-Toe</h1>
        </div>

        <div class = "learn">
            <p>More Info</p>
        </div>

        <div class = "arrow">
            <a href = "#info"><span></span></a>
        </div>
    </div>

    <div class = "info", id = "info">
        <p>
            This program allows two people to play Tic-Tac-Toe with one another. They each enter their names as either 
            player 1 (X) or player 2 (O). Player 1 goes first and picks a cell to mark. If they type in an invalid cell, 
            then the turn automatically switches without updating the board. The program alternates between the players 
            until either the same symbol appears three times in a row or if there is no more turns available (total: 9). 

            The program will also let the users know how they won (horizonal, vertical, or diagonal). It will specify 
            which row the player won if it's horizontal/vertical or which diagonal the player won.
        </p>
    </div>

    <div class = "video">
        <h1>Project Demo</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7_IooPfQv-I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class = "links">
        <a href = "../index.html#projects"><button>Go Back</button></a>
        <table>
            <tr>
                <td><a href = "https://github.com/aditikisara/CPP-TicTacToe-Project"><img src = "../image/github.png"></a></td>
                <td><a href = "https://www.linkedin.com/in/aditi-kisara-27bb1a1a9/"><img src = "../image/linkedin.png"></a></td>
            </tr>
        </table>
    </div>
</body>
</html>